version: "3.7"

services:
  postgres:
    image: postgres:latest
    restart: always
    environment:
      POSTGRES_PASSWORD: mysecretpassword
    expose:
      - "5432"
    ports:
      - 5432:5432

  app:
    build:
      context: .
      dockerfile: Dockerfile
    restart: on-failure
    env_file:
      - .env
    depends_on:
      - postgres
    expose:
      - "8000"
    ports:
    - 8000:8000
    command: sh -c './migrate -path migrations -database "postgres://postgres:mysecretpassword@postgres:5432/postgres?sslmode=disable" up && ./goapp'

